<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>{{ 'CONTACTS' | translate }}</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">{{ 'HOME' | translate }}</a>
            </li>
            <li class="active">
                <strong>{{ 'CONTACTS' | translate }}</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="row" ng-controller="ContactController as ctrl">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-content">
                <table class="DataTable table table-striped table-bordered table-hover dataTables-example" style="width: 100%">
                    <thead>
                    <tr>
                        <th>
                            <input type="checkbox" id="selectAllRows">
                        </th>
                        <th>ID</th>
                        <th>{{ 'group' | uppercase | translate }}</th>
                        <th>{{ 'name' | uppercase | translate }}</th>
                        <th>{{ 'number' | uppercase | translate }}</th>
                        <th>{{ 'description' | uppercase | translate }}</th>
                        <th>{{ 'ACTIONS' | translate }}</th>
                    </tr>
                    </thead>
                    
                </table>
            </div>
        </div>
    </div>
</div>