@font-face {
	 font-family: 'B Yekan';
	 src: local('☺'),
	 local('B Yekan'),
	 url('../fonts/byekan/683a5dddcff7f1cbb08d964cc275cb50ce7840291901931.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
body {
	font-family: 'B Yekan', 'Tahoma';
	font-size: 1.6em;
}

.navbar-static-side {
	right: 0;
}
#page-wrapper{
	margin: 0 220px 0 0;
}
.pace-done .navbar-static-side, .pace-done .nav-header, .pace-done li.active, .pace-done #page-wrapper, .pace-done .footer, .nav>li, th, .form-control {
	text-align: right;
}

.metismenu .arrow {
	float: left;
}

.nav > li > a i {
	float: right;
	margin-left: 6px;
	margin-right: 0
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9 , .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, h3, h4, h5, h6 , .ibox-title h5{
	float: right;
	text-align: right;
}

.navbar-right {
	float: left!important;
}

.navbar-right {
	direction: rtl;
}
table{
	direction: rtl;
}
select.form-control{
	background-color: #fcfcfc;
}
.col-lg-6 {
    direction: rtl;
}
