<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>{{ 'ONLINE_CHARGE' | translate }}</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">{{ 'HOME' | translate }}</a>
            </li>
            <li>
                <a>{{ 'FINANCIAL' | translate }}</a>
            </li>
            <li class="active">
                <strong>{{ 'ONLINE_CHARGE' | translate }}</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content  animated fadeInRight article">
    <div class="row">
        <div class="col-lg-12 col-lg-offset-1">
            <div class="ibox">
                <div class="ibox-content">
                    <form method="post"
                        ng-controller="ajaxFormController as form"
                        action="/financial/bill/create"
                        ng-submit="form.submit($event)"
                        class="form-horizontal"
                    >
                        <div ng-include="'views/includes/form_response.html'"></div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="bank_name">
                                {{ 'bank_name' | uppercase | translate }}
                            </label>
                            <div class="col-md-9 col-sm-9 col-xs-12">
                                <input class="form-control" type="text" ng-model="info.bank_name" placeholder="{{ 'bank_name' | uppercase | translate }}" id="bank_name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="bank_code">
                                {{ 'bank_code' | uppercase | translate }}
                            </label>
                            <div class="col-md-9 col-sm-9 col-xs-12">
                                <input class="form-control" type="text" ng-model="info.bank_code" placeholder="{{ 'bank_code' | uppercase | translate }}" id="bank_code">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="number">
                                {{ 'NUMBER' | translate }}
                            </label>
                            <div class="col-md-9 col-sm-9 col-xs-12">
                                <input class="form-control" type="text" ng-model="info.number" placeholder="{{ 'NUMBER' | translate }}" id="number">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="value">
                                {{ 'value' | uppercase | translate }}
                            </label>
                            <div class="col-md-9 col-sm-9 col-xs-12">
                                <input class="form-control" type="text" ng-model="info.value" placeholder="{{ 'value' | uppercase | translate }}" id="value">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="description">
                                {{ 'description' | uppercase | translate }}
                            </label>
                            <div class="col-md-9 col-sm-9 col-xs-12">
                                <input class="form-control" type="text" ng-model="info.description" placeholder="{{ 'description' | uppercase | translate }}" id="description">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3 col-sm-3 col-xs-12">
                                
                            </div>
                            <div class="col-md-9 col-sm-9 col-xs-12">
                                <button class="btn btn-primary" ng-disabled="!info.number || !info.bank_name || !info.bank_code || !info.value" type="submit">{{ 'SUBMIT' | translate }}</button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>