<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>{{ 'SEND_GROUP_SMS' | translate }}</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">{{ 'HOME' | translate }}</a>
            </li>
            <li class="active">
                <strong>{{ 'SEND_GROUP_SMS' | translate }}</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="row" ng-controller="sendGroupSMSController as ctrl">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-content">
                <form method="post"
                    ng-controller="ajaxFormController as form"
                    action="{{ sendGroupSMSURL }}"
                    ng-submit="form.submit($event)"
                    class="form-horizontal"
                >
                    <input type="hidden" ng-model="info.is_confirmed" ng-init="info.is_confirmed = 'not'">
                    <div ng-include="'views/includes/form_response.html'"></div>
                    <lines></lines>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">
                            {{ 'GROUP' | translate }}
                        </label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <ui-select multiple ng-model="info.groups" theme="bootstrap" style="width: 100%;">
                                <ui-select-match placeholder="{{ 'GROUP' | translate }}">{{$item.title}}</ui-select-match>
                                <ui-select-choices repeat="group in groups | filter:$select.search">
                                    {{group.title}}
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">
                            {{ 'CONTACTS' | translate }}
                        </label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <ui-select multiple ng-model="info.contacts" theme="bootstrap" style="width: 100%;">
                                <ui-select-match placeholder="{{ 'SELECT_GROUPS' | translate }}">{{$item.number}}</ui-select-match>
                                <ui-select-choices repeat="contact in contacts | filter:$select.search">
                                    {{contact.name}}
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">
                            {{ 'CUSTOM_NUMBERS' | translate }}
                        </label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <textarea class="form-control" ng-model="info.numbers"></textarea>
                        </div>
                    </div>
                    <div class="form-group" ng-if="!info.group && !info.numbers">
                        <label class="col-sm-3 control-label">
                            {{ 'IMPORT' | translate }}
                        </label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <button class="btn btn-primary" ng-click="openDropzoneModal()">
                                {{ 'IMPORT_NUMBERS' | translate }}
                            </button>
                            <a href="/sample/contacts.xls">{{ 'SAMPLE_FILE' | translate }}</a>
                        </div>
                    </div>
                    <default-messages></default-messages>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="text">
                            {{ 'TEXT' | translate }}
                        </label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <textarea ng-model="info.text" placeholder="{{ 'TEXT' | translate }}" class="form-control" id="text" ng-change="calculateCharacters(info.text)" ng-disabled="!info.line"  required></textarea>  
                            <span>تعداد کاراکتر پیام: {{ messageCharacters }} | تعداد صفحات پیام:‌ {{ messagePages }}</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="flash">
                            {{ 'FLASH' | translate }}
                        </label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <input type="checkbox" ng-model="info.flash" id="flash" ng-disabled="!linesRahyab[info.line]">
                        </div>
                    </div>
                    <send-on></send-on>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="scheduled">
                            {{ 'schedules' | uppercase | translate }}
                        </label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <input type="checkbox" ng-model="info.scheduled" id="scheduled" ng-disabled="showScheculedSMS">
                        </div>
                    </div>
                    <div class="form-group" ng-if="info.scheduled">
                        <label class="col-sm-3 control-label" for="scheduled_id">
                        </label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <select ng-model="info.scheduled_id" class="form-control" ng-disabled="showScheculedSMS">
                                <option ng-repeat="schedule in schedules" value="{{ schedule.id }}">
                                    {{ schedule.title }}
                                </option>
                            </select>
                        </div>
                    </div>
                    <test-sms></test-sms>
                    <div class="form-group">
                        <div class="col-md-3 col-sm-3 col-xs-12">
                            
                        </div>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <button class="btn btn-primary" ng-disabled="!info.text || !info.line || (!info.groups && !info.contacts && !info.numbers)" type="submit">{{ 'SUBMIT' | translate }}</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>