<div ng-controller="reportSMSController as ctrl">    
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>{{ 'SMS_REPORT' | translate }}</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="index.html">{{ 'HOME' | translate }}</a>
                </li>
                <li class="active">
                    <strong>{{ 'SMS_REPORT' | translate }}</strong>
                </li>
            </ol>
        </div>
        <div class="col-lg-2" style="padding: 35px">
            <a href="" ng-click="retry()" ng-if="user.role == 'admin'" class="btn btn-primary" ng-disabled="resendProcessing">
                {{ 'RESEND' | translate }}
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">

                <div class="ibox-content">
                    <table class="DataTable table table-striped table-bordered table-hover dataTables-example" style="width: 100%">
                        <thead>
                        <tr>
                            <th>
                                <input type="checkbox" id="selectAllRows">
                            </th>
                            <th>ID</th>
                            <th>{{ 'text' | uppercase | translate }}</th>
                            <th>{{ 'date' | uppercase | translate }}</th>
                            <th>{{ 'status' | uppercase | translate }}</th>
                            <th>{{ 'send_number' | uppercase | translate }}</th>
                            <th>{{ 'type' | uppercase | translate }}</th>
                            <th>{{ 'number' | uppercase | translate }}</th>
                            <th>{{ 'sms_amount' | uppercase | translate }}</th>
                            <th>{{ 'actions' | uppercase | translate }}</th>
                        </tr>
                        </thead>
                        
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>