<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>{{ 'CREATE_POLL' | translate }}</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">{{ 'HOME' | translate }}</a>
            </li>
            <li class="active">
                <strong>{{ 'CREATE_POLL' | translate }}</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="row" ng-controller="createPollController as ctrl">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-content">
                <form method="post"
                    ng-controller="ajaxFormController as form"
                    action="{{ createPollURL }}"
                    ng-submit="form.submit($event)"
                    class="form-horizontal"
                >
                    <div ng-include="'views/includes/form_response.html'"></div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="title">
                            {{ 'TITLE' | translate }}
                        </label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <input class="form-control" type="text" ng-model="info.title" placeholder="{{ 'TITLE' | translate }}" id="title">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="type">
                            {{ 'TYPE' | translate }}
                        </label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <select class="form-control" ng-model="info.type" id="type">
                                <option value="1">{{ 'POLL' | translate }}</option>
                                <option value="2">{{ 'CONTEST' | translate }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="line_id">
                            {{ 'LINE' | translate }}
                        </label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <select class="form-control" ng-model="info.line_id" id="line_id">
                                <option ng-repeat="line in lines" ng-value="line.id">{{ line.number }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="started_at">
                            {{ 'STARTED_AT' | translate }}
                        </label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <input type="datetime" class="form-control" persian-date-picker ng-model="info.started_at" placeholder="{{ 'STARTED_AT' | translate }}" id="started_at">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="finished_at">
                            {{ 'FINISHED_AT' | translate }}
                        </label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <input type="datetime" class="form-control" persian-date-picker ng-model="info.finished_at" placeholder="{{ 'FINISHED_AT' | translate }}" id="finished_at">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="question">
                            {{ 'QUESTION' | translate }}
                        </label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <input class="form-control" type="text" ng-model="info.question" placeholder="{{ 'QUESTION' | translate }}" id="question">
                        </div>
                    </div>
                    <div class="form-group" ng-repeat="(key,answer) in answers">
                        <label class="col-sm-3 control-label" for="answer">
                            {{ 'ANSWER' | translate }}
                        </label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <input class="form-control" type="text" ng-model="info.answers[key]" placeholder="{{ 'ANSWER' | translate }}" id="answer">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-3"></div>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <button class="btn btn-primary" ng-click="addAnswer($event)">
                                {{ 'ADD' | translate }}
                            </button>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="reply">
                            {{ 'REPLY' | translate }}
                        </label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <input class="form-control" type="text" ng-model="info.reply" placeholder="{{ 'REPLY' | translate }}" id="reply">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3 col-sm-3 col-xs-12">
                            
                        </div>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <button class="btn btn-primary" type="submit">{{ 'SUBMIT' | translate }}</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>