<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>{{ 'CHECKOUT' | translate }}</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">Home</a>
            </li>
            <li class="active">
                <strong>{{ 'CHECKOUT' | translate }}</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight" ng-controller="checkoutController">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="ibox">
                <div class="ibox-content">
                    <h2>{{ 'PLEASE_SELECT_PAYMENT_GATEWAY' | translate }}</h2>
                    <div class="gateways">
                        <form ng-repeat="(key,gateway) in gateways" action="{{ movingURL }}" id="gateway-{{ key }}">
                            <input type="hidden" name="gateway" value="{{ key }}">
                            <img src="{{ gateway.logo }}" style="float:right;width:15%;cursor: pointer;" alt="{{ gateway.title }}" title="{{ gateway.title }}" style="cursor: pointer" ng-click="gatewaySelected(key)">
                        </form> 
                    </div>
                    <div style="clear:both"></div>
                </div>
            </div>
        </div>
    </div>
</div>