<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>{{ 'FILTERING' | translate }}</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">{{ 'HOME' | translate }}</a>
            </li>
            <li class="active">
                <strong>{{ 'FILTERING' | translate }}</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="row" ng-controller="editFilteringsController as ctrl">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-content">
                <form method="post"
                    ng-controller="ajaxFormController as form"
                    action="{{ editFilteringsURL }}"
                    ng-submit="form.submit($event)"
                    class="form-horizontal"
                    id="edit-filterings-form" 
                >
                    <input type="hidden" name="_method" value="put">
                    <div ng-include="'views/includes/form_response.html'"></div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="filtering_key">
                            {{ 'FILTERING_KEY' | translate }}
                        </label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <input type="text" class="form-control" ng-model="info.filtering_key" placeholder="{{ 'FILTERING_KEY' | translate }}" id="filtering_key">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3 col-sm-3 col-xs-12">
                            
                        </div>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <button class="btn btn-primary" ng-disabled="!info.filtering_key" type="submit">{{ 'SUBMIT' | translate }}</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>