<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>{{ 'PERMISSION_GROUPS' | translate }}</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">{{ 'HOME' | translate }}</a>
            </li>
            <li class="active">
                <strong>{{ 'PERMISSION_GROUPS' | translate }}</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="row" ng-controller="permissionGroupsController as ctrl">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h2>{{ 'PERMISSION_GROUPS' | translate }}</h2>
            </div>
            <div class="ibox-content">
                <table datatable="ng" dt-options="dtOptions"  class="table table-striped table-bordered table-hover dataTables-example">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>{{ 'TITLE' | translate }}</th>
                        <th>{{ 'DESC' | translate }}</th>
                        <th>{{ 'ACTIONS' | translate }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="(key,group) in groups">
                        <td>{{ group.id }}</td>
                        <td>{{ group.title }}</td>
                        <td>{{ group.description }}</td>
                        <td>
                            <a ui-sref="app.admin.permissions.groups.edit({group_id:group.id})">
                                <i class="fa fa-pencil"></i>
                            </a>
                            <a href="" ng-click="delete(group.id, key)">
                                <i class="fa fa-remove"></i>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>