<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Article</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">Home</a>
            </li>
            <li>
                <a>Miscellaneous</a>
            </li>
            <li class="active">
                <strong>Article</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content  animated fadeInRight article" ng-controller="supportMarketingCodeController">
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
            <div class="ibox">
                <div class="ibox-content" ng-bind-html="marketingCode">
                    
                </div>
            </div>
        </div>
    </div>


</div>