<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>{{ 'TICKETS' | translate }}</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">{{ 'HOME' | translate }}</a>
            </li>
            <li class="active">
                <strong>{{ 'TICKETS' | translate }}</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content animated fadeIn" ng-controller="ticketsController">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-content">
                <div class="row">
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="title">
                            {{ 'TEXT' | translate }}
                        </label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <span>{{ ticket.text }}</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="answer">
                            {{ 'TICKET_ANSWER' | translate }}
                        </label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <span>{{ ticket.answer }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>