<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>{{ 'CODEREADERS' | translate }}</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">{{ 'HOME' | translate }}</a>
            </li>
            <li class="active">
                <strong>{{ 'CODEREADERS' | translate }}</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="row" ng-controller="editCodereaderController as ctrl">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-content">
                <form method="post"
                    ng-controller="ajaxFormController as form"
                    action="{{ editCodereaderURL }}"
                    ng-submit="form.submit($event)"
                    class="form-horizontal"
                    id="edit-codereader-form" 
                >
                    <input type="hidden" name="_method" value="put">
                    <div ng-include="'views/includes/form_response.html'"></div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="title">
                            {{ 'TITLE' | translate }}
                        </label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <input type="text" class="form-control" ng-model="info.title" placeholder="{{ 'TITLE' | translate }}" id="title">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="line_id">
                            {{ 'LINE' | translate }}
                        </label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <select class="form-control" ng-model="info.line_id" id="line_id">
                                <option ng-repeat="line in lines" value="{{ line.id }}">{{ line.number }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="condition_type">
                            {{ 'CONDITION_TYPE' | translate }}
                        </label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <select class="form-control" ng-model="info.condition_type" id="condition_type">
                                <option value="1">{{ 'anything' | uppercase | translate }}</option>
                                <option value="2">{{ 'contains' | uppercase | translate }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="reaction_type">
                            {{ 'REACTION_TYPE' | translate }}
                        </label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <select class="form-control" ng-model="info.reaction_type" id="reaction_type">
                                <option value="1">{{ 'add_to_group' | uppercase | translate }}</option>
                                <option value="2">{{ 'remove_from_group_(if_participated)' | uppercase | translate }}</option>
                                <option value="3">{{ 'send_reply' | uppercase | translate }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="reaction_group">
                            {{ 'GROUP' | translate }}
                        </label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <select class="form-control" ng-model="info.reaction_group" id="reaction_group">
                                <option ng-repeat="group in info.groups" value="{{ group.id }}">{{ group.title }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group" ng-repeat="(key,condition) in conditions">
                        <label class="col-sm-3 control-label" for="condition_text">
                            {{ 'CONDITION_TEXT' | translate }}
                        </label>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <input class="form-control" type="text" ng-model="info.condition_text[key]" ng-value="condition.condition" placeholder="{{ 'CONDITION_TEXT' | translate }}" id="condition_text">
                        </div>
                        <label class="col-sm-1 control-label" for="reaction_text">
                            {{ 'REACTION_TEXT' | translate }}
                        </label>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <input class="form-control" type="text" ng-model="info.reaction_text[key]" placeholder="{{ 'REACTION_TEXT' | translate }}" id="reaction_text">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3 col-sm-3 col-xs-12">
                            
                        </div>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <button class="btn btn-primary" ng-click="addRow($event)" type="submit">{{ 'ADD' | translate }}</button>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3 col-sm-3 col-xs-12">
                            
                        </div>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <button class="btn btn-primary" ng-disabled="!info.title || !info.line_id || !info.condition_type" type="submit">{{ 'SUBMIT' | translate }}</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>